<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <button>
   <h1>Team Name: <%= @par[:name] %></h1>
   <h2>Coach: <%= @par[:coach] %></h2>
   <h2>Point Guard: <%= @par[:pg] %></h2>
   <h2>Shooting Guard: <%= @par[:sg] %></h2>
   <h2>Small Forward: <%= @par[:sf] %></h2>
   <h2>Power Forward: <%= @par[:pf]%></h2>
   <h2>Center: <%= @par[:c] %></h2>
 </body>
</html>


